<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @supply.quantity %>
</p>

<p>
  <strong>Date:</strong>
  <%= @supply.date %>
</p>

<p>
  <strong>Supplier name:</strong>
  <%= @supply.supplier_name %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @supply.product_name %>
</p>

<%= link_to 'Edit', edit_supply_path(@supply) %> |
<%= link_to 'Back', supplies_path %>
