<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Customer name:</strong>
  <%= @product.customer_name %>
</p>

<p>
  <strong>Supplier name:</strong>
  <%= @product.supplier_name %>
</p>

<p>
  <strong>Supply quantity:</strong>
  <%= @product.supply_quantity %>
</p>

<p>
  <strong>Order quantity:</strong>
  <%= @product.order_quantity %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
